@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sedan:ital@0;1&display=swap');

/**----RESET-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**-----HEADER-----*/

.barra-de-navegacion-color {
    background-color: pink;
}


.tipografia-nav {
    font-family: "Sedan", serif;
    font-size: 20px;
    padding: 10px;
}

.tipografia-nav-logo {
    font-family: "Lobster", sans-serif;
    font-size: 25px;
    margin-left: 10px;
    
}


.barra-de-navegacion-logo {
    width: 90px;
    height: 90px;
    border-radius: 20px;
}

.barra-de-navegacion-hover:hover {
    background-color: white;
    border-radius: 20px;
}

/**-----MAIN-----*/

main{
    background-color: rgba(252, 205, 213, 0.897);
}


/**-----INDEX-----*/
.fondo{
    height: 700px;
    width: 100%;
    background-image: url(../images/shinyperleary-fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fondo h1 {
    font-family: "Lobster", sans-serif;
    padding: 6px;
    border: 4px solid black;
    font-size: 50px;
    background-color: solid black;
    margin-top: 20px;
    color: black;
    
}
.fondo h2 a {
    margin-top: 40px;
    background-color: black;
    padding: 6px;
    border-radius: 20px;
    font-size: 35px;
    font-family: "Lobster", sans-serif;
    text-decoration: none;
    color: white;
    width: 230px;
    justify-content: center;
    display: flex;
    
}

.fondo h2 a:hover {
    background-color: white;
    color: black;
}


.separador{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.separador p {
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: white;
    padding: 6px;
    width: 300px;
    display: flex;
    background-color: black;
    justify-content: center;
    border-radius: 20px;
}


.tarjeta {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
    
}


.tarjeta div img {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
}

.tarjeta .tarjeta-productos {
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);

}

.tarjeta .tarjeta-productos h3 {
    font-size: 25px;
    font-family: "Sedan", serif;
}

.tarjeta .tarjeta-productos a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 4px;
    padding: 6px;
    border-radius: 20px;
}

.tarjeta .tarjeta-productos a:hover {

        background-color: gray;
        color: black;

}


.ver-mas{
    display: flex;
    justify-content: center;
}

.ver-mas a {
    margin-top: 100px;
    background-color: black;
    margin-bottom: 125px;
    padding: 6px;
    border-radius: 20px;
    font-size: 35px;
    font-family: "Lobster", sans-serif;
    text-decoration: none;
    color: white;
    width: 300px;
    justify-content: center;
    display: flex;
}

@media screen and (max-width:1284px) {
    .tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .tarjeta .tarjeta-productos{
        margin-top: 50px;
    }

}



@media screen and (max-width:476px) {
    .tarjeta div img {
        width: 230px;
        height: 200px;
    }


    .fondo {
        height: 700px;
        width: 100%;
        background-image: url(../images/fondo-compacto.jpeg)
    }
}


@media screen and (max-width:322px) {
    .fondo h1 {
        font-size: 35px;
        
    }
    .fondo h2 a {
        font-size: 25px;
        width: 180px;
        
    }
}










/**-----PRODUCTO-----*/

.grid-producto-primera-fila {
    /*GRID*/
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
}

.grid-producto-primera-fila .categoria {
    display: flex;
    flex-direction: column;
    font-family: "Sedan", serif;
    background-color: pink;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    align-items: center;
    
}


.grid-tarjeta-productos {
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
    margin-top: 10px;

}



.grid-tarjeta-productos img {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
}

.grid-tarjeta-productos h3 {
    font-size: 25px;
    font-family: "Sedan", serif;
}

.grid-tarjeta-productos a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 4px;
    padding: 6px;
    border-radius: 20px;
}

.grid-tarjeta-productos a:hover {

    background-color: gray;
    color: black;

}

.categoria {
    grid-column: 1/2;
    grid-row: 1/3;
}


.item-uno {
    grid-column: 2/3;
    grid-row: 1/2;
}


.item-dos {
    grid-column: 3/4;
    grid-row: 1/2;
}


.item-tres {
    grid-column: 4/5;
    grid-row: 1/2;
}

.item-cuatro {
    grid-column: 2/3;
    grid-row: 2/3;
}

.item-cinco {
    grid-column: 3/4;
    grid-row: 2/3;
}

.item-seis {
    grid-column: 4/5;
    grid-row: 2/3;
}

.item-siete{
    grid-column: 2/3;
    grid-row: 3/4;

}

.item-ocho {
    grid-column: 3/4;
    grid-row: 3/4;
}


@media screen and (max-width:1441px) {

    .grid-tarjeta-productos {
        width: 300px;
        height: 340px;
    }

    .grid-tarjeta-productos img {
        width: 200px;
        height: 200px;
    }

    .grid-tarjeta-productos h3 {
        font-size: 20px;
    }

    .grid-tarjeta-productos a {
        font-size: 12px;
    }
}



@media screen and (max-width:1051px) {
    .grid-producto-primera-fila {
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .categoria {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    
    .item-uno {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    
    .item-dos {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    
    .item-tres {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .item-cuatro {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    .item-cinco {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .item-seis {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    .item-siete{
        grid-column: 2/3;
        grid-row: 3/4;
    
    }
    
    .item-ocho {
        grid-column: 3/4;
        grid-row: 3/4;
    }
}

@media screen and (max-width:726px) {
    .categoria {
        font-size: 10px;
    }

    .grid-producto-primera-fila {
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .categoria {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    
    .item-uno {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    
    .item-dos {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    
    .item-tres {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .item-cuatro {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .item-cinco {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .item-seis {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .item-siete{
        grid-column: 2/3;
        grid-row: 3/4;
    
    }
    
    .item-ocho {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}



@media screen and (max-width:420px) {
    .grid-producto-primera-fila {
        /*GRID*/
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
    }
    
    .categoria {
        font-size: 10px;
    }

    .categoria {
        grid-column: 1/2;
        grid-row: 1/2;
    
    }
    
    
    .item-uno {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    
    .item-dos {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    
    .item-tres {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .item-cuatro {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .item-cinco {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    
    .item-seis {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    
    .item-siete{
        grid-column: 1/2;
        grid-row: 8/9;
    
    }
    
    .item-ocho {
        grid-column: 1/2;
        grid-row: 9/10;
    }
}



/**-----CONTACTO-----*/

.contacto .separador {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacto .separador h2{
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: black;
    border-radius: 20px;
    margin-top: 30px;
}

.contacto div {
    display: flex;
    justify-content: center;
}

.contacto div p{
    font-family: "Sedan", serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 25px;
    background-color: pink;
    padding: 20px;
    border-radius: 20px;
    width: 800px;

}

.formulario {
    display: block;
    justify-content: center;
    background-color: pink;
    border-radius: 20px;
    width: 60%;
    margin-left: 20%;

}

.formulario .formulario-primera-fila{
    display: flex;
    justify-content: center;
}


.formulario .formulario-primera-fila .name {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Sedan", serif;
    margin-right: 200px;
    margin-top: 90px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.formulario .formulario-primera-fila .surname {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Sedan", serif;
    margin-top: 90px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.formulario .formulario-segunda-fila {
    display: flex;
    
    
}

.formulario .formulario-segunda-fila .email {
    display: flex;
    font-family: "Sedan", serif;
    font-size: 25px;
    margin-left: 143px;
    margin-right: 150px;
    margin-top: 70px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
    


.formulario .formulario-segunda-fila .genero {
    display: flex;
    margin-left: 50px;
    margin-right: 110px;
    font-size: 25px;
    font-family: "Sedan", serif;
    margin-top: 40px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
    


.formulario .formulario-segunda-fila .genero ul {
    list-style: none;
    
}

.pais {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Sedan", serif;
    margin-top: 40px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;

}

.motivo {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Sedan", serif;
    margin-top: 40px;
    padding: 30px;
    color: white;
    border-radius: 20px;
    
}

.motivo textarea{
    display: flex;
    font-family: "Sedan", serif;
    font-size: 25px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    
}

.enviar {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: white;
    border-radius: 20px;
    
}







/**-----PEDIDOS PERSONALIZADOS-----*/

.separador h2 {
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    width: 800px;
    background-color: black;
    border-radius: 20px;
}

.pedidos-personalizados-primera-fila {
    font-size: 25px;
    font-family: "Sedan", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: pink;
    padding: 50px;
    border-radius: 20px;

}

.pedidos-personalizados-primer-bloque {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 778px) {
    .separador h2 {
        font-size: 30px;
        width: 500px;
    }

    .pedidos-personalizados-primera-fila {
        font-size: 18px;
        width: 500px;
        height: 350px;
        
    }
}

@media screen and (max-width: 494px) {
    .separador h2 {
        font-size: 20px;
        width: 300px;
    }

    .pedidos-personalizados-primera-fila {
        font-size: 15px;
        width: 400px;
        height: 350px;
        
    }
}

@media screen and (max-width: 400px) {
    .separador h2 {
        font-size: 15px;
        width: 250px;
    }

    .pedidos-personalizados-primera-fila {
        font-size: 13px;
        width: 250px;
        height: 500px;
        
    }
}


/**-----ACERCA DE-----*/

.acerca-de-primera-fila {
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.acerca-de-primera-fila p{
    display: flex;
    justify-content: flex-end;
    color: white;
    margin: 90px 100px 90px 120px;
    font-family: "Sedan", serif;
    font-size: 25px;
}

.acerca-de-primera-fila div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.acerca-de-primera-fila div img{
    display: flex;
    justify-content: flex-start;
    width: 400px;
    height: 350px;
    margin: 90px 100px 90px 120px;
    
}

.acerca-de-segunda-fila {
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.acerca-de-segunda-fila div {
    width: 100%;
    display: flex;
    justify-content: center;
}


.acerca-de-segunda-fila p{
    display: flex;
    justify-content: flex-start;
    color: white;
    margin: 90px 100px 90px 120px;
    font-family: "Sedan", serif;
    font-size: 25px;
}


.acerca-de-segunda-fila div img{
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 350px;
    margin: 90px 100px 90px 120px;
}

@media screen and (max-width: 1400px) {
    .acerca-de-primera-fila {
        
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .acerca-de-primera-fila p{
        margin: 90px 60px 90px 50px;
        font-size: 15px;
    }
    
    
    .acerca-de-primera-fila div img{
        width: 300px;
        height: 250px;
        margin: 90px 50px 90px 60px;
        
    }
    
    .acerca-de-segunda-fila {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .acerca-de-segunda-fila p{
        margin: 90px 50px 90px 60px;
        font-size: 15px;
    }
    
    
    .acerca-de-segunda-fila div img{
        width: 300px;
        height: 250px;
        margin: 90px 60px 90px 50px;
    }
}

@media screen and (max-width: 823px) {
    .acerca-de-primera-fila {
        
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .acerca-de-primera-fila p{
        margin: 90px 35px 90px 20px;
        font-size: 15px;
    }
    
    
    .acerca-de-primera-fila div img{
        width: 200px;
        height: 150px;
        margin: 90px 20px 90px 35px;
        justify-content: center;
        align-items: center;
        
    }
    
    .acerca-de-segunda-fila {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .acerca-de-segunda-fila p{
        margin: 90px 20px 90px 35px;
        font-size: 15px;
    }
    
    
    .acerca-de-segunda-fila div img{
        width: 200px;
        height: 150px;
        margin: 90px 35px 90px 20px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 569px) {
    .acerca-de-primera-fila {
        
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
    }
    
    .acerca-de-primera-fila p{
        margin: 20px 25px 20px 10px;
        font-size: 15px;
    }
    
    
    .acerca-de-primera-fila div img{
        width: 200px;
        height: 150px;
        margin: 20px 10px 20px 25px;
        justify-content: center;
        flex-direction: column;
        
        
    }
    
    .acerca-de-segunda-fila {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .acerca-de-segunda-fila p{
        margin: 20px 10px 20px 25px;
        font-size: 15px;
    }
    
    
    .acerca-de-segunda-fila div img{
        width: 200px;
        height: 150px;
        margin: 20px 25px 20px 10px;
        justify-content: center;
        flex-direction: column;
        
    }
}

@media screen and (max-width: 569px) {
    
    .acerca-de-primera-fila p{

        font-size: 12px;
    }
    
    
 
    .acerca-de-segunda-fila p{

        font-size: 12px;
    }

}


/**-----FOOTER-----*/

footer{
    background-color: pink;
}

footer a {
    text-align: left;
}

.footer-logo {
    width: 80px;
    height: 80px;
}