/*----INDEX----*/

main {

    
    .fondo{
        height: 700px;
        width: 100%;
        background-image: url(../images/shinyperleary-fondo.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        @include flex (flex, center, center, column);

        h1{
            font-family: $font-lobster;
            padding: 6px;
            border: 4px solid black;

            //!OPERACION
            font-size: $size-title + 10;

            margin-top: 20px;
            color: $color-terciario;
        }
        h2{

            a{
                //!MAPA
                
                background-color: map-get($boton , bg-boton );
                border-radius: map-get($boton , borde );
                padding: map-get($boton , padd );
                color: map-get($boton , text-color );

                font-size: nth($font-size, 4);
                font-family: $font-lobster;
                text-decoration: none;
                
                width: 230px;
                margin-top: 40px;
                justify-content: center;
                display: flex;
                &:hover{
                background-color: white;
                color: black;
                }
            }
        }
    }
    .separador{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        p{
            font-family: $font-lobster;
            font-size: nth($font-size, 5);
            text-decoration: none;
            color: white;
            padding: 6px;
            width: 300px;
            display: flex;
            background-color: $color-terciario;
            justify-content: center;
            border-radius: 20px;
}
        }
    
    .tarjeta{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-wrap: wrap;
        .tarjeta-productos{
            border: 4px solid black;
            border-radius: 20px;
            padding: 10px;
            background-color: white;
            @include flex (flex, center, center, column);
            flex-wrap: wrap;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
            -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
            img{
                width: 400px;
                height: 400px;
                border: 2px solid black;
                border-radius: 20px;
            }
            h3{
                font-size: nth($font-size, 3);
                font-family: $font-sedan;
            }
            a{
                font-size: nth($font-size, 2);
                text-decoration: none;
                color: white;
                background-color: $color-terciario;
                margin: 4px;
                padding: 6px;
                border-radius: 20px;
                &:hover {
                    background-color: gray;
                    color: black;
                }
            }
        }
    }
    .ver-mas {
        display: flex;
        justify-content: center;
        a{
            margin-top: 100px;
            background-color: $color-terciario;
            margin-bottom: 125px;
            padding: 6px;
            border-radius: 20px;
            font-size: nth($font-size, 4);
            font-family: $font-lobster;
            text-decoration: none;
            color: white;
            width: 300px;
            justify-content: center;
            display: flex;
        }
    }
    
}




/*----PRODUCTOS----*/

main {
    .grid-producto-primera-fila{
        /*GRID*/
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 15px;
        
        .categoria{
            display: flex;
            flex-direction: column;
            font-family: $font-sedan;
            background-color: $color-secundario;
            border-radius: 20px;
            margin-top: 10px;
            margin-left: 5px;
            padding: 5px;
            align-items: center;


            grid-column: 1/2;
            grid-row: 1/3;
            h2{

            }
            ul{
                li{

                }
            }
        }
    
        .grid-tarjeta-productos {
            border: 4px solid black;
            border-radius: 20px;
            padding: 10px;
            background-color: white;
            @include flex (flex, center, center, column);
            flex-wrap: wrap;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
            -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
            margin-top: 10px;
            img{
                width: 400px;
                height: 400px;
                border: 2px solid black;
                border-radius: 20px;
            }
            h3{
                font-size: nth($font-size, 3);
                font-family: $font-sedan;
            }
            a{
                font-size: 20px;
                text-decoration: none;
                color: white;
                background-color: $color-terciario;
                margin: 4px;
                padding: 6px;
                border-radius: 20px;
                &:hover{
                    background-color: gray;
                    color: black;
                }
            }
            
        }

        .item-uno {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        
        
        .item-dos {
            grid-column: 3/4;
            grid-row: 1/2;
        }
        
        
        .item-tres {
            grid-column: 4/5;
            grid-row: 1/2;
        }
        
        .item-cuatro {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        
        .item-cinco {
            grid-column: 3/4;
            grid-row: 2/3;
        }
        
        .item-seis {
            grid-column: 4/5;
            grid-row: 2/3;
        }
        
        .item-siete{
            grid-column: 2/3;
            grid-row: 3/4;
        
        }
        
        .item-ocho {
            grid-column: 3/4;
            grid-row: 3/4;
        }
    }

}





/*----PEDIDOS PERSONALIZADOS----*/
main {
    .pedidos-personalizados-primer-bloque{
        padding: 30px;
        width: 100%;
        @include flex (flex, center, center, column);
        .separador{
            h2{
                font-family: $font-lobster;
                font-size: nth($font-size, 5);
                text-decoration: none;
                color: white;
                display: flex;
                justify-content: center;
                width: 800px;
                background-color: $color-terciario;
                border-radius: 20px;
            }
        }
        .pedidos-personalizados-primera-fila{
            font-size: nth($font-size, 3);
            font-family: $font-sedan;
            @include flex (flex, center, center, column);
            width: 700px;
            height: 450px;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: $color-secundario;
            padding: 50px;
            border-radius: 20px;
            p{

            }
            a{
                .footer-logo{
                    width: 80px;
                    height: 80px;
                }
            }
            p{

            }
        }
        .separador{
            h2{

            }
        }
    }
    .tarjeta{
        .tarjeta-productos{
            img{

            }
            h3{

            }
            a{

            }
        }
    }
}





/*----CONTACTO----*/
main{
    .contacto{
        .separador{
            margin: 0;
            width: 100%;
            @include flex (flex, center, center, row);
            h2{
                font-family: $font-lobster;
                 font-size: nth($font-size, 5);
                text-decoration: none;
                color: white;
                
                //!EXTEND
                @extend %flex-center;


                width: 500px;
                background-color: $color-terciario;
                border-radius: 20px;
                margin-top: 30px;
            }
        }
        div{
            //!EXTEND
            @extend %flex-center;
            p{
                font-family: $font-sedan;
                font-size: nth($font-size, 3);
                display: flex;
                justify-content: center;
                margin: 25px;
                background-color: $color-secundario;
                padding: 20px;
                border-radius: 20px;
                width: 800px;
            }
        }
    }

    .formulario{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: $color-secundario;
        border-radius: 20px;
        width: 60%;
        margin-left: 20%;
        .formulario-primera-fila{

            //! MIXIN
            
            @include flex (flex, space-around, center, row);
            
            .name{
                display: flex;
                justify-content: center;
                font-size: nth($font-size, 3);
                font-family: $font-sedan;
                
                margin-top: 90px;
                padding: 30px;
                background-color: $color-terciario;
                color: white;
                border-radius: 20px;
            }
            .surname{
                display: flex;
                justify-content: center;
                font-size: nth($font-size, 3);
                font-family: $font-sedan;
                margin-top: 90px;
                padding: 30px;
                background-color: $color-terciario;
                color: white;
                border-radius: 20px;
                
            }
        }

        .formulario-segunda-fila{

            //! MIXIN

            @include flex (flex, space-around, center, row);
            height: 250px;
            
            .email{
                display: flex;
                font-family: $font-sedan;
                font-size: nth($font-size, 3);
                
                padding: 30px;
                background-color: $color-terciario;
                color: white;
                border-radius: 20px;
                label{

                }
            }

            .genero{
                display: flex;
                
                margin-right: 155px;
                font-size: nth($font-size, 3);
                font-family: $font-sedan;
                margin-top: 40px;
                padding: 30px;
                background-color: $color-terciario;
                color: white;
                border-radius: 20px;
                label{

                }
                div{
                    ul{
                        list-style: none;
                        li{
                            label{

                            }
                        }
                    }
                }
            }
        }


        .pais{
            display: flex;
            justify-content: center;
            font-size: nth($font-size, 3);
            font-family: $font-sedan;
            margin-top: 40px;
            padding: 30px;
            background-color: $color-terciario;
            color: white;
            border-radius: 20px;
            label{

            }
            select{
                option{

                }
            }
        }

        .motivo{
            display: flex;
            justify-content: center;
            font-size: nth($font-size, 3);
            font-family: $font-sedan;
            margin-top: 40px;
            padding-top: 30px;
            color: white;
            border-radius: 20px;
            label{

            }
            textarea{
                display: flex;
                font-family: $font-sedan;
                font-size: nth($font-size, 3);
                padding: 30px;
                background-color: $color-terciario;
                color: white;
                border-radius: 20px;
            }
        }
        .enviar{
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            color: white;
            border-radius: 20px;
            input{
                display: flex;
                justify-content: center;
                font-size: nth($font-size, 3);
                font-family: $font-sedan;
                margin-top: 30px;
                padding: 15px;
                background-color: $color-terciario;
                color: white;
                border-radius: 20px;
                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }


}



/*----ACERCA DE----*/

main {
    .acerca-de-primera-fila{
        display: flex;
        justify-content: space-around;
        background-color: $color-terciario;
        border-radius: 20px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 10px;
        div{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                display: flex;
                justify-content: flex-start;
                width: 400px;
                height: 350px;
                margin: 90px 100px 90px 120px;
            }
        }
        p{
            display: flex;
            justify-content: flex-end;
            color: white;
            margin: 90px 100px 90px 120px;
            font-family: $font-sedan;
            font-size: nth($font-size, 3);
        }
    }

    .acerca-de-segunda-fila{
        display: flex;
        justify-content: space-around;
        background-color: $color-terciario;
        border-radius: 20px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 40px;
        p{
            display: flex;
            justify-content: flex-start;
            color: white;
            margin: 90px 100px 90px 120px;
            font-family: $font-sedan;
            font-size: nth($font-size, 3);
        }
        div{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                display: flex;
                justify-content: flex-end;
                width: 400px;
                height: 350px;
                margin: 90px 100px 90px 120px;
            }
        }
    }





}