@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sedan:ital@0;1&display=swap');

/**----RESET-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-principal;
}

main{
    background-color: $color-principal;
    padding-bottom: 10px;
}

/**-----HEADER boostrap-----*/

.barra-de-navegacion-color {
    background-color: $color-secundario;
}


.tipografia-nav {
    font-family: $font-sedan;
    font-size: 20px;
    padding: 10px;
}

.tipografia-nav-logo {
    font-family: $font-lobster;
    font-size: 25px;
    margin-left: 10px;
    
}


.barra-de-navegacion-logo {
    width: 90px;
    height: 90px;
    border-radius: 20px;
}

.barra-de-navegacion-hover:hover {
        transition-property: background-color, color;
                transition-duration: 0.5s;  
    
}
    
.barra-de-navegacion-hover:hover {
    background-color: white;
    border-radius: 20px;
    
}